@import '@servicenow/sass-kit/host';


.card {
    display: inline-flex;
    cursor: pointer;
    now-card {
        .header {
            display:flex;
            align-items: center;
            gap: 4px;
            font-size: .75rem;
            line-height: 1.33333;
        }
        h4 {
            margin: 0;
        }
    }

    &.selected {
        /*
        background-color: RGB($now-color--primary-2);
        color: white;
        */
    }
}