@import '@servicenow/sass-kit/host';

.upload-file-btn {
    display: flex;
    cursor: pointer;
}

input[type="file"] {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: auto;
    margin: 0px;
    border: none;
    padding: 0px;
    white-space: nowrap;
    clip: rect(0px, 0px, 0px, 0px);
    clip-path: inset(50%);
  }
  
  /* Separate rule for compatibility, :focus-within is required on modern Firefox and Chrome */
  input[type="file"]:focus + label {
    outline: thin dotted;
  }
  input[type="file"]:focus-within + label {
    outline: thin dotted;
  }

  .file-info {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
  }

  .file-info * {
    width: 40%;
  }